@media (min-width: 720px) {
    #header_content {
        margin-left: 20rem;
    }
}

.header_itens {
    margin-top: 13%;
}

.header_itens .content_text>.title {
    color: var(--c-pink-1);
    font-size: 1rem;
    font-family: 'Rufina', serif;
}

.header_itens .content_text>.big-text {
    color: var(--c-black-1);
    font-size: 3.5rem;
    font-family: 'Rufina', serif;
    font-weight: bold;
    margin-top: 1rem;
}

.header_itens .content_text>.small-text {
    color: var(--c-gray);
    font-size: 1rem;
    font-family: 'Roboto', serif;
}

.header_hero {
    position: relative;
    width: 100%
}

.left-plant {
    position: absolute;
    float: left;
    top: 8rem;
}

.right-woman {
    top: 0;
    position: absolute;
    float: right;
    right: 0;
}

.right-woman figure {
    width: 41rem
}

.left-plant figure {
    width: 13rem;
}

.navbar {
    flex-direction: column;
    padding: 0 !important;
}

.nav_container>.row {
    margin-top: 1rem
}

.nav_container {
    padding: 0 !important;
}

.navbar-brand {
    display: grid !important;
    text-align: -webkit-center;
}

.navbar-brand label {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    padding: 0;
    margin: 0;
}

div>.navbar {
    align-items: unset;
}

.nav_itens {
    margin-left: 7rem;
    align-self: flex-end;
}

.nav_itens ul>li>a {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
}

nav {
    align-items: flex-end;
}

#reserve_now_btn {
    display: inline-flex;
    border-radius: 0px !important;
    background: var(--c-pink-1);
    border-color: transparent;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    color: white;
}

#reserve_now_btn:hover {
    background: var(--c-pink-3);
    transition: ease-in-out 0.4s;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
}

#reserve_now_btn span {
    font-size: 0.8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

#reserve_now_btn i {
    margin-left: 0.5rem;
    font-size: 1rem;
    font-weight: 400;
}

#watch_our_story_btn {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}

#watch_our_story_btn i {
    color: var(--c-pink-1);
    padding: 1rem;
    border-radius: 10rem;
    background-color: var(--c-beige)
}

#watch_our_story_btn span {
    color: var(--c-gray-1);
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    ;
}

.header_itens .buttons {
    display: flex;
}