@import url('fonts.css');
.header_hero {
    position: absolute;
    width: 100%
}

.left-plant {
    position: relative;
    float: left;
    top: 4rem;
}

.right-woman {
    top: 0;
    position: relative;
    float: right
}

.right-woman figure {
    width: 35rem
}

.left-plant figure {
    width: 9rem;
}

div .navbar {
    /* justify-content: center */
    margin-left: 4rem;
}

.navbar-brand {
    display: grid !important;
    text-align: -webkit-center;
}

.navbar-brand label {
    font-family: 'Playfair Display', serif;
    font-size: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    padding: 0;
    margin: 0;
}

.nav_itens {
    margin-left: 7rem;
    align-self: flex-end;
}

.nav_itens ul>li>a {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 0.9rem;
}

nav {
    align-items: flex-end;
}